/*COMMON STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME-PAGE : HEADER */
.main-header nav {
    margin: auto;
    padding: auto;
    width: 100%;
    height: 75px;
    display: flex;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex: 0.5;
    margin-right: 25%;
}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /* flex: 1 1; */
}

.menu-icon {
    display: flex;
    justify-content: space-around;
    flex: 0.3;
}

.logo-compagny {
    height: 90px;
    margin-bottom: 15px;
    cursor: pointer;
}

svg {
    height: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-in-header {
    background-color: rgba(44, 133, 91, 0.91);
    font-size: 15px;
    border-radius: 7px;
    border: rgba(44, 133, 91, 0.91);
    color: white;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;


}

/* SECTION CONTENT HOME PAGE */
.content-bc {
    min-height: 100vh;
    background: url('../images/img-home-page.png') no-repeat;
    background-size: contain;
    background-position: right;
}

.home-description {
    margin-top: 13%;
    display: inline-block;
    justify-content: center;
    margin-left: 7%;
}

.home-description h2 {
    color: rgba(44, 133, 91);
}

.home-description h3 {
    width: 2px;
    padding-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 60px;
}

.home-description p {
    width: 50%;
    padding-top: 1%;
    margin-bottom: 3%;
}

.btn-in-home-description {
    background: rgba(44, 133, 91);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    border: rgba(44, 133, 91);
    width: 185px;
    height: 65px;
}


/* PROCESS PAGE*/
.PAGE-PROCESS {
    background-color: rgb(216, 208, 208, 0.65);
    height: 638.4px;

}

.agri-food-processing {
    display: flex;
    padding-top: 8%;

}

.example-product {
    display: block;
    width: 400px;
    height: 450px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;




}

.img-example-product-liquid {
    height: 55%;
    width: 85%;
}

.img-example-product-dry {
    height: 45%;
    width: 85%;
}


.product-news h3 {
    color: rgba(173, 123, 73, 0.7);
    font-size: 50px;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 5%;
}

.product-news p {
    text-align: justify;
    margin-left: 13%;
    width: 75%;
}

.product-news {

    display: inline-block;
    text-align: left;
    border-radius: 15px;
    background-color: white;
    margin-right: 5%;
    height: 450px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-visit-sector {
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 80%;
    margin-left: 10%;
}

/* PRODUCT PAGE */

.our-products {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 99.5%;

}

.list-product {
    display: flex;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 2.5% 2.5%;
}

.content-catalog {
    width: 200%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    padding-top: 2px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    background: #f2f2f2;
}

.our-products h3 {
    text-align: center;
    font-size: 26px;
    margin: -2px;
    padding-top: 2%;
    color: rgba(44, 133, 91);
}

.content-catalog p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
    margin: 3px;
}

.content-catalog h6 {
    font-size: 18px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.content-catalog img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}



.star svg {
    padding: 5px;
    height: 50%;
    width: 50%;

}

.star {


    display: flex;
    margin-left: 25%;
    padding-top: 0.5px;
    padding-bottom: 5%;
    width: 50%;


}

.buy-1 {
    background: rgba(44, 133, 91);
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: rgba(44, 133, 91);
    cursor: pointer;
    margin-top: 0;

}

/* TESTIMONIALS PAGE */
.list-of-testimonies {
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.76)), url('../images/customer\ review\ wallpaper\ image.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;

}

.list-of-testimonies h2 {
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.testimonie {
    font-size: 15px;
    color: white;
    padding-top: 20px;
    text-align: center;

}

.content-testimonie {
    display: flex;
    justify-content: center;
}

.notice {
    display: block;
    width: 250px;
    height: 400px;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 1%;
    margin-top: 6%;
    box-shadow: 1px 1px 10px #333;
    margin-right: 20px;
}

.notice h3 {
    font-size: 20px;
    color: rgba(44, 133, 91);
}

.notice img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #333;
    margin-bottom: 5%;
}

.notice p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

/* PRINT DESC PRODUCTS */
.print-desc-products {
    background-color: grey;
    height: 638.4px;
}

.agri-food-print-desc-product {
    display: flex;
}

.sector-1 {
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 2%;

}

.section-2 {
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: -25px;
}

.img-example-maskot {
    width: 300px;
    margin-right: 450px;
    margin-left: 55px;
    height: 350px;
    margin-top: 3%;
}

.image-bouye {
    margin-right: 150px;
    margin-top: 90px;
    height: 250px;
    width: 135px;

}

.image-bissap {
    margin-right: 10px;
    margin-top: 42px;
    height: 300px;
    width: 160px;
}

.paragraph-example {
    width: 300px;
    margin-right: 430px;
    margin-left: 80px;
    padding-top: 120px;
    height: 5px;
}

.bissap-image {

    margin-top: 125px;
    height: 210px;
    width: 90px;

}

.image-oil {
    margin-right: 170px;
    margin-top: 70px;
    height: 265px;
    width: 140px;

}

/* EMAIL NEWSLETTERS PAGE */
.newsletters {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/image-background-newsletters.png') no-repeat;
    background-position: center;
    margin-bottom: 7%;
    background-size: cover;
    height: 450px;
    width: 100%;
    margin-top: 9%;


}

.field-in-newsletter {
    padding-top: 150px;
    margin-left: 20%;
}

.field-in-newsletter-content-button {
    padding-top: 15px;
    margin-left: 20%;
}

.field-in-newsletter input {

    width: 80%;
    height: 45px;
    margin-top: 25px;
}

.btn-in-newsletter-sender {
    background-color: rgba(44, 133, 91);
    color: white;
    border: rgba(44, 133, 91);
    width: 30%;
    height: 50px;
    margin-top: 25px;
    margin-left: 25%;
    cursor: pointer;

}

/* SERVICES PAGE */
.our-services {
    background-color: rgb(214, 214, 214);
    height: 650px;

}

.our-services h2 {
    font-size: 35px;
    color: rgba(44, 133, 91);
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.service-item {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.opinion-on-service {
    display: block;
    width: 250px;
    height: 400px;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 1%;
    margin-top: 6%;
    margin-right: 20px;
}

.opinion-on-service h3 {
    font-size: 20px;
    color: rgba(44, 133, 91);
}

.opinion-on-service img {
    width: 140px;
    height: 140px;
    margin-bottom: 5%;
}

.opinion-on-service p {
    padding-top: 25px;
    margin-bottom: 10px;
    text-align: justify;
}

/* CONTACT US PAGE */
.contact-us {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('../images/image-background-contact-me.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.contact-us h2 {
    font-size: 35px;
    color: rgba(44, 133, 91);
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 3%;
}

.field-in-contact-us {
    padding-top: 10px;
    margin-left: 25%;
}

.field-in-contact-us-content-button {
    padding-top: 15px;
    margin-left: 20%;
}

.field-in-contact-us input {
    width: 70%;
    height: 42px;
    margin-top: 35px;

}

.field-in-contact-us textarea {
    width: 70%;
    height: 100px;
    margin-top: 25px;
    resize: none;
}

.field-in-contact-us-content-button button {
    background-color: rgba(44, 133, 91);
    color: white;
    border: rgba(44, 133, 91);
    width: 65%;
    height: 52px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 6.5%;
}

/* FOOTER PAGE */
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../images/footer-bc.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 3%;
    display: grid;

}

.footer-items {
    display: flex;
    justify-content: space-between;
    height: 200px;

}

.objective {
    width: 26%;
    margin-right: 285px;
}

.objective h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 35px;
    color: white;

}

.objective p {
    width: 500px;
    font-size: 20px;
    color: white;
}

.hours {
    width: 26%;


}

.hours h2 {

    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 35px;
    margin-left: 5%;
    color: white;
}

.hours p {

    font-size: 25px;
    color: white;

}

.follow-me {
    width: 26%;
}

.follow-me h2 {
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 35px;
    color: white;
}

.follow-me p {

    font-size: 25px;
    color: white;

}

.footer-copyright {
    background-color: white;
    border: rgb(255, 255, 255);
    width: 95%;
    margin-bottom: 0.5%;
    margin-left: 1.75%;

}

.footer-copyright p {
    text-align: center;
    color: black;
}