/*COMMON STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME-PAGE : HEADER */
.main-header nav {
    margin: auto;
    padding: auto;
    width: 100%;
    height: 75px;
    display: flex;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    position: fixed;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex: 0.5;
    margin-right: 25%;
}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /* flex: 1 1; */
}

.menu-icon {
    display: flex;
    justify-content: space-around;
    flex: 0.3;
}

.logo-compagny {
    height: 90px;
    margin-bottom: 15px;
    cursor: pointer;
}

svg {
    height: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-in-header {
    background-color: rgba(44, 133, 91, 0.91);
    font-size: 15px;
    border-radius: 7px;
    border: rgba(44, 133, 91, 0.91);
    color: white;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;


}

/* SECTION CONTENT HOME PAGE */
.content-bc {
    min-height: 100vh;
    background: url('../images/img-home-page.png') no-repeat;
    background-size: contain;
    background-position: right;
}

.home-description {
    margin-top: 13%;
    display: inline-block;
    justify-content: center;
    margin-left: 7%;
}

.home-description h2 {
    color: rgba(44, 133, 91);
}

.home-description h3 {
    width: 2px;
    padding-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 60px;
}

.home-description p {
    width: 50%;
    padding-top: 1%;
    margin-bottom: 3%;
}

.btn-in-home-description {
    background: rgba(44, 133, 91);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    border: rgba(44, 133, 91);
    width: 185px;
    height: 65px;
}


/* PROCESS PAGE*/
.PAGE-PROCESS {
    background-color: rgb(216, 208, 208, 0.65);
    height: 638.4px;

}

.agri-food-processing {
    display: flex;
    padding-top: 8%;

}

.example-product {
    display: block;
    width: 400px;
    height: 450px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;




}

.img-example-product-liquid {
    height: 55%;
    width: 85%;
}

.img-example-product-dry {
    height: 45%;
    width: 85%;
}


.product-news h3 {
    color: rgba(173, 123, 73, 0.7);
    font-size: 50px;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 5%;
}

.product-news p {
    text-align: justify;
    margin-left: 13%;
    width: 75%;
}

.product-news {

    display: inline-block;
    text-align: left;
    border-radius: 15px;
    background-color: white;
    margin-right: 5%;
    height: 450px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-visit-sector {
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 80%;
    margin-left: 10%;
}